header {
    background-color:#ffffff;
    color:grey;
    text-align:left;
    height: 85px;
}


#logo {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

#slogan {
    margin: 0px;
    padding: 42px 0px 0px 0px;
    float: right;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0px;
    height: 100%;
}

nav {
    height: 30px;
    background-color:#99ccff
}

nav #loginBox {
    display: none;
    z-index: 999;
    position: absolute;
    float: right;
}

nav #loginButton:hover > #loginBox {
    display: block;
    float: right;
    
}

nav #button {
    display: block
}

aside {
    line-height:30px;
    background-color:#eeeeee;
    color: #4f4f4f;
    text-decoration: none;
    /* height: 1000px */ /* vaste hoogte van aside, hierdoor is de paginahoogte niet meer dynamisch als <article> < 1000px */
    height:100%;
    width:120px;
    float:left;
    padding:5px;
}

section {
    width:350px;
    float:left;
    padding:10px;
}

h1 {
    background-color: #ffffff;
    color: #4f4f4f;
    font-size: 36px
}

h2 {
    background-color: #ffffff;
    color:#4f4f4f;
    font-size: 20px

}

#twitter {
    text-align:right;
}

#spotify {
    text-align:right;
}

footer {
    background-color:#eeeeee;
    color:black;
    clear:both;
    text-align:center;
    padding-height:0px;
    font-size:10px;
}

article {
    padding-top: 0px;
    padding-left: 130px;
    padding-right: 30px;
}

ul
{
    list-style-type: none;
    text-decoration: none;
    padding-left: 5px;
}

.popular {
    border-style: solid;
    border-width: 5px;
    border-color: #99ccff;
    width: 300px

}

.popular li {
    list-style-type: none;
}

#feeds {
    float: right;
}

#twitter {
    width: 500px;

}






