header {
    background-color:#ffffff;
    color:grey;
    text-align:left;
    height: 85px;
}

#logo {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

#slogan {
    margin: 0px;
    padding: 42px 0px 0px 0px;
    float: right;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    height: 100%;
    margin:0px;
}

nav {
    height: 30px;
    background-color:#99ccff;
    margin: 0px
}

nav #loginBox {
    display: none;
    z-index: 999;
    position: absolute;
    float: right;
    background-color: #ffffff
    
}

nav #loginButton:hover > #loginBox {
    display: block;
    float: right;
}

nav #loginButton {
    display: block;
    float: right;
    height: 100%;
}

aside {
    line-height:30px;
    background-color:#eeeeee;
    color: #4f4f4f;
    text-decoration: none;
    height:100%;
    width:100px;
    float:left;
    padding:5px;
}

/* section {
    width:350px;
    float:left;
    padding: 0px 30px 0px 30px;
} */

h1 {
    background-color: #ffffff;
    color: #4f4f4f;
    font-size: 36px
}

h2 {
    background-color: #ffffff;
    color:#4f4f4f;
    font-size: 20px
}

footer {
    background-color:#eeeeee;
    color:black;
    clear:both;
    text-align:center;
    padding-height:0px;
    font-size:10px;
}

article {
    padding-top: 0px;
    padding-left: 150px;
    padding-right: 30px;
}

ul {
    list-style-type: none;
    text-decoration: none;
    padding-left: 5px;
    font-weight:normal;
    color:#000000;
    letter-spacing:2pt;
    word-spacing:6pt;
    font-size:16px;
    text-align:left;
    font-family:palatino linotype, palatino, serif;
    line-height:1,5;
    margin:5px;
    padding:5px;
    height: 100%;
}

.popular {
    border-style: solid;
    border-width: 5px;
    border-color: #99ccff;
    width: 100%;
}

.popular li {
    list-style-type: none;
}

div #mainWrapper {
    padding-left: 120px;
    width: 100%;
}

div #feeds {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    float: left;
    width: 400px;
}

div #twitter {
    margin: auto;
    width: 400px;
}

div #spotify {
    margin: auto;
    width: 300px;
}

div #forumContent {
    float: left;
    width: calc(100% - 400px);
    margin: 0px 0px 0px 0px;
    overflow: auto;
}

div #asideWrapper {
    height: 100%;
    width: 100%;
}