header {
    background-color:#99ccff;
    color:grey;
    text-align:left;
    height: 70px;
}
sitelogo {
margin: 0px;
padding: 0px 0px 0px 0px;
float: left;
}
body {
    margin: 0px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:1000px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width:350px;
    float:left;
    padding:10px;
}
footer {
    background-color:#eeeeee;
    color:black;
    clear:both;
    text-align:center;
    padding-height:0px;
    font-size:10px;
}
article {
    padding-top: 0px;
    padding-left: 130px;
}
ul
{
    list-style-type: none;
    padding-left: 5px;
}
