header {
    background-color:#99ccff;
    color:grey;
    text-align:left;
    margin:2px;2px;0px;2px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:1000px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width:350px;
    float:left;
    padding:10px;
}
footer {
    background-color:#eeeeee;
    color:black;
    clear:both;
    text-align:center;
    padding:2px;}